<div class="row">
    <div class="col s12 info">
        <blockquote>
            Оставляя анонимную информацию о компании, Вы помогаете соискателям делать правильный
            выбор.
        </blockquote>
        <blockquote>
            Однако настоятельно просим оставлять только достоверную информацию в соответствии с <a
                href="#" target="_blank">правилами.</a>
        </blockquote>
        <blockquote>
            Все данные, которые Вы вводите абсолютно анонимны. <a href="#"
                                                                  target="_blank">Подробнее</a>
        </blockquote>
    </div>
</div>
<div class="section light-green company-section valign-wrapper">
    <h4 class="valign center-block white-text">{{ company }}</h4>
</div>