{% extends "base.html" %}

{% block main %}
    <form class="choose-company" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="section white z-depth-1">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center-align light-green-text">
                                Добавление анонимной информации
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 add-form">
                            <select name="type">
                                <option value="review" selected>Отзыв о компании</option>
                                <option value="salary">Уровень зарплаты</option>
                                <option value="interview">Отзыв о собеседовании</option>
                            </select>
                            <label>Выберите</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="company" name="company" placeholder="Компания"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button type="submit" class="btn large light-green">Далее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="add-comp" class="modal modal-fixed-footer">
    <form id="compcreate" action="/companycreate/" method="post">
        <div class="modal-content">
            <h5>К сожалению, у нас еще нет информации о <span class="company-name light-green-text"></span></h5>
            <h5>Расскажите немного об этой компании</h5>
            {% csrf_token %}
            {% for field in form %}
                <div class="row">
                    {% if field.errors %}
                        <div class="col s12">
                           {{ field.errors }}
                        </div>
                    {% endif %}
                    <div class="col s12 input-field">
                        {{ field }}
                        <label>{{ field.label }}</label>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action waves-effect waves-green btn-flat">Добавить</button>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Отмена</a>
        </div>
    </form>
    </div>
{% endblock %}

{% block additional_scripts %}
<script>
$(function() {
    var $company = $("#company");
    $company.autocomplete({
      source: "/companyjs/",
      minLength: 3
    });
    if($company.data("ui-autocomplete")) {
        $company.data("ui-autocomplete")
                ._renderItem = function (ul, item) {
            return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + item.value + "</a>")
                    .appendTo(ul);
        };
    }
    $(".ui-autocomplete").addClass("dropdown-content active")
            .css("opacity", 1)
            .css("max-height", "200px");
    $(".ui-helper-hidden-accessible").css("display", "none");




});

  $(function() {
      var urlMap = {
          'review': '{% url "add_review" %}',
          'salary': '{% url "add_salary" %}',
          'interview': '{% url "add_interview" %}'
      };

      var move_to_add_info = function(type, company) {
          window.location.href = urlMap[type] + "?company=" + company;
      };
    var $company = $('#company');
    $company.change(function() {
        $(this).removeClass('invalid');
    });
    $(".choose-company").submit(function (e) {

        if($.trim($company.val()) == '') {
            $company.addClass('invalid');
            return false;
        }
        //check company exists:
        $.ajax({
            url: '/companycheck/',
            data: {'name': $('#company').val()}
        }).done(function(data) {
            if(data.result == false) {
                // create new company
                $('.company-name').text($('#company').val());
                $('#add-comp').openModal();
            } else {
                move_to_add_info($('select[name=type]').val(), $('#company').val());
            }
        });
        return false;
    });

    var frm = $('#compcreate');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize() + "&name=" + $company.val(),
            success: function (data) {
                move_to_add_info($('select[name=type]').val(), $('#company').val());
            },
            error: function(data) {
                alert("К сожалению, компания не может быть создана");
            }
        });
        return false;
    });
  });

</script>
{% endblock %}