<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Моя работа</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/owl.carousel.css"/>
    <link rel="stylesheet" type="text/css" href="/owl.theme.css"/>
    <link rel="stylesheet" type="text/css" href="/owl.transitions.css"/>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="light-green nav-fix">
    <ul id="slide-out" class="side-nav">
        <li><a href="sass.html">Вакансии</a></li>
        <li><a href="badges.html">Компании</a></li>
        <li><a href="collapsible.html">Зарплаты</a></li>
        <li><a href="collapsible.html">Собеседования</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    <div class="nav-wrapper container">
        <a href="{% url 'home' %}" class="brand-logo logo"><i class="large material-icons left">view_carousel</i>Моя Работа</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <div class="nav-search right">
                <a href="#" onclick="return false;"><i class="mdi-action-search left"></i></a>

                <div class="material-search-overlay circle material-search-overlay-color-bg material-search-overlay-hidden"></div>
                <form class="material-search-form material-search-form-hidden" action="/search/"
                      autocomplete="off">
                    <div class="material-search-form-container">
                        <a href="#" onclick="return false;" class="material-search-close"><i
                                class="mdi-navigation-close"></i></a>

                        <div class="material-search-form-container-row">
                            <div class="material-search-label center-align">
                                <label for="s">Введите позицию или компанию</label>
                            </div>
                            <div class="material-search-input">
                                <input type="text" id="s" name="s" class="validate" autofocus="">
                                <span class="input-bottom-bar"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% if user.is_authenticated %}
            <div class="right">
                <a class="tooltipped" href="{% url 'logout' %}" data-position="bottom" data-delay="5" data-tooltip="Выйти">
                    <i class="material-icons">arrow_forward</i>
                </a>
            </div>
            {% endif %}
            <div class="right">
                <a class="tooltipped" href="{% url 'add' %}" data-position="bottom" data-delay="5" data-tooltip="Добавить информацию">
                    <i class="material-icons">add_circle</i>
                </a>
            </div>
            <div class="right">
                <a class="tooltipped" href="
                {% if user.is_authenticated %}
                {% url 'settings' %}
                {% else %}
                {% url 'signin' %}
                {% endif %}
                " data-position="bottom" data-delay="5" data-tooltip="
                {% if user.is_authenticated %}
                    Перейти в аккаунт
                {% else %}
                    Войти или зарегистрироваться
                {% endif %}
                ">
                    <i class="material-icons">account_circle</i>
                </a>
            </div>
            <div class="right blank-place">

            </div>

            <li><a href="{% url 'jobs' %}" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Вакансии"><i class="material-icons">work</i></a></li>
            <li><a href="{% url 'companies' %}" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Компании"><i class="material-icons">business</i></a></li>
            <li><a href="{% url 'salaries' %}" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Зарплаты"><i class="material-icons">local_atm</i></a></li>
            <li><a href="{% url 'interviews' %}" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Собеседования"><i class="material-icons">contact_phone</i></a></li>
        </ul>
    </div>
</nav>
<div class="rect"></div>

<main>
    {% block main %}{% endblock %}
</main>

<footer class="page-footer light-green darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Моя работа</h5>

                <p class="grey-text text-lighten-4">Моя работа</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright light-green darken-3">
        <div class="container">
            © 2016 Моя Работа
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="/jquery-ui.min.js"></script>
<script type="text/javascript" src="/owl.carousel.min.js"></script>

<!--<script src="emerald.js"></script>-->
<!--<script type='text/javascript' src='http://emerald.sekizgen.net/wp-content/plugins/bwp-minify/min/?f=wp-content/themes/material-emerald/js/materialize.min.js,wp-content/themes/material-emerald/js/jquery.flexslider-min.js,wp-content/themes/material-emerald/js/imagesloaded.pkgd.min.js,wp-includes/js/hoverIntent.min.js,wp-content/themes/material-emerald/js/superfish.js,wp-content/themes/material-emerald/js/masonry.pkgd.min.js,wp-content/themes/material-emerald/js/equalize.min.js,wp-content/themes/material-emerald/js/jquery.magnific-popup.min.js,wp-content/themes/material-emerald/js/mobile-detect.min.js,wp-content/themes/material-emerald/js/jquery.sticky.js,wp-content/themes/material-emerald/js/scripts.js,wp-includes/js/comment-reply.min.js,wp-content/plugins/js_composer/assets/js/js_composer_front.js'></script>-->
<script>
    $(".button-collapse").sideNav();
    $('.nav-search > a').click(function () {
        $('.material-search-overlay').toggleClass('material-search-overlay-hidden').toggleClass('material-search-overlay-visible');
        $('.material-search-form').toggleClass('material-search-form-hidden').toggleClass('material-search-form-visible');
//            if (!(mobile_detect.is('iOS') && mobile_detect.is('Safari'))) {
//                setTimeout(function() {
//                    $('.material-search-form .material-search-input input[name=s]').focus();
//                }, 600);
//            }
    });
    $('.nav-search a.material-search-close').click(function () {
        $('.material-search-form .material-search-input input[name=s]').blur();
        $('.material-search-overlay').toggleClass('material-search-overlay-hidden').toggleClass('material-search-overlay-visible');
        $('.material-search-form').toggleClass('material-search-form-hidden').toggleClass('material-search-form-visible');
    });

    $(document).ready(function () {
        $('select').material_select();
    });
</script>

<script>
    $(document).ready(function(){
        $('.collapsible-body').css('display', 'block');
        $('ul.tabs').tabs('select_tab', 'test1');
        $('.collapsible-body').css('display', 'none');
        $('.collapsible-header').click(function() {
            var $expandIcon = $(this).find('.expand-icon');
            if($expandIcon.text() == 'expand_more') {
                $expandIcon.text('expand_less');
            } else {
                $expandIcon.text('expand_more');
            }
        });
        $('.vacancy-link').click(function(e) {
            e.stopPropagation();
        });
    });

    $(function() {
    var $company = $("#company");
    $company.autocomplete({
      source: "/companyjs/",
      minLength: 3
    });
    if($company.data("ui-autocomplete")) {
        $company.data("ui-autocomplete")
                ._renderItem = function (ul, item) {
            return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + item.value + "</a>")
                    .appendTo(ul);
        };
    }
    $(".ui-autocomplete").addClass("dropdown-content active")
            .css("opacity", 1)
            .css("max-height", "200px");
    $(".ui-helper-hidden-accessible").css("display", "none");
  });


  var urlMap = {
      'review': '{% url "add_review" %}',
      'salary': '{% url "add_salary" %}',
      'interview': '{% url "add_interview" %}'
  };

  var move_to_add_info = function(type, company) {
      window.location.href = urlMap[type] + "?company=" + company;
  };

  $(function() {
    var $company = $('#company');
    $company.change(function() {
        $(this).removeClass('invalid');
    });
    $(".choose-company").submit(function (e) {

        if($.trim($company.val()) == '') {
            $company.addClass('invalid');
            return false;
        }
        //check company exists:
        $.ajax({
            url: '/companycheck/',
            data: {'name': $('#company').val()}
        }).done(function(data) {
            if(data.result == false) {
                // create new company
                $('.company-name').text($('#company').val());
                $('#add-comp').openModal();
            } else {
                move_to_add_info($('select[name=type]').val(), $('#company').val());
            }
        });
        return false;
    });

    var frm = $('#compcreate');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize() + "&name=" + $company.val(),
            success: function (data) {
                move_to_add_info($('select[name=type]').val(), $('#company').val());
            },
            error: function(data) {
                alert("К сожалению, компания не может быть создана");
            }
        });
        return false;
    });
  });

  $(function() {
      $('.salary-range').change(function() {
          $('#salary-value').text($(this).val())
      });
  });

 $(document).ready(function() {

      $("#companies-best").owlCarousel({

          navigation : false, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem: true

      });

 });

</script>
</body>
</html>