<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>ИС ОР</title>
    <link rel="stylesheet" href="/materialize.min.css">
    <link href="/material-icon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/owl.carousel.css"/>
    <link rel="stylesheet" type="text/css" href="/owl.theme.css"/>
    <link rel="stylesheet" type="text/css" href="/owl.transitions.css"/>
    <link rel="stylesheet" type="text/css" href="/Pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="light-green nav-fix">
    <ul id="slide-out" class="side-nav">
        <li><a href="badges.html">Компании</a></li>
        <li><a href="collapsible.html">Зарплаты</a></li>
        <li><a href="collapsible.html">Собеседования</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url "settings" %}">Перейти в аккаунт</a> </li>
        <li><a href="{% url "logout" %}">Выйти из аккаунта</a></li>
        {% else %}
        <li><a href="{% url "signin" %}">Войти в аккаунт</a></li>
        {% endif %}
        <li><a href="{% url "add" %}">Добавить информацию</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">dehaze</i></a>

    <div class="nav-wrapper container">
        <a href="{% url 'home' %}" class="brand-logo logo">ИС ОР</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <div class="nav-search right">
                <a href="#" onclick="return false;"><i class="pe-7s-search left"></i></a>

                <div class="material-search-overlay circle material-search-overlay-color-bg material-search-overlay-hidden"></div>
                <form class="material-search-form material-search-form-hidden" action="/search/"
                      autocomplete="off">
                    <div class="material-search-form-container">
                        <a href="#" onclick="return false;" class="material-search-close"><i
                                class="pe-7s-close"></i></a>

                        <div class="material-search-form-container-row">
                            <div class="material-search-label center-align">
                                <label for="s">Введите позицию или компанию</label>
                            </div>
                            <div class="material-search-input">
                                <input type="text" id="s" name="s" class="validate" autofocus="">
                                <span class="input-bottom-bar"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% if user.is_authenticated %}
            <div class="right">
                <a class="tooltipped" href="{% url 'logout' %}" data-position="bottom" data-delay="5" data-tooltip="Выйти">
                    <i class="pe-7s-angle-right-circle"></i>
                </a>
            </div>
            {% endif %}
            <div class="right">
                <a class="tooltipped" href="{% url 'add' %}" data-position="bottom" data-delay="5" data-tooltip="Добавить информацию">
                    <i class="pe-7s-plus"></i>
                </a>
            </div>
            <div class="right">
                <a class="tooltipped" href="
                {% if user.is_authenticated %}
                {% url 'settings' %}
                {% else %}
                {% url 'signin' %}
                {% endif %}
                " data-position="bottom" data-delay="5" data-tooltip="
                {% if user.is_authenticated %}
                    Перейти в аккаунт
                {% else %}
                    Войти или зарегистрироваться
                {% endif %}
                ">
                    <i class="pe-7s-user"></i>
                </a>
            </div>
            <div class="right blank-place">

            </div>

{#            <li><a href="{% url 'jobs' %}" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Вакансии"><i class="pe-7s-portfolio"></i></a></li>#}
            <li><a href="{% url 'companies' %}" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Компании"><i class="pe-7s-culture"></i></a></li>
            <li><a href="{% url 'salaries' %}" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Зарплаты"><i class="pe-7s-wallet"></i></a></li>
            <li><a href="{% url 'interviews' %}" class="tooltipped" data-position="bottom" data-delay="5" data-tooltip="Собеседования"><i class="pe-7s-users"></i></a></li>
        </ul>
    </div>
</nav>
<div class="rect"></div>

<main>
    {% block main %}{% endblock %}
</main>

<footer class="page-footer light-green darken-2">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="white-text">Информационная система отзывов о работодателях</h5>

                <p class="grey-text text-lighten-4"></p>
            </div>
            <div class="col l4 offset-l2 s12">

            </div>
        </div>
    </div>
    <div class="footer-copyright light-green darken-3">
        <div class="container">
            © 2016 ИС ОР
        </div>
    </div>
</footer>

<script src="/jquery-v1-11.js"></script>
<script src="/materialize.min.js"></script>
<script src="/jquery-ui.min.js"></script>
<script type="text/javascript" src="/owl.carousel.min.js"></script>

<script>
    $(".button-collapse").sideNav();
    $('.nav-search > a').click(function () {
        $('.material-search-overlay').toggleClass('material-search-overlay-hidden').toggleClass('material-search-overlay-visible');
        $('.material-search-form').toggleClass('material-search-form-hidden').toggleClass('material-search-form-visible');
    });
    $('.nav-search a.material-search-close').click(function () {
        $('.material-search-form .material-search-input input[name=s]').blur();
        $('.material-search-overlay').toggleClass('material-search-overlay-hidden').toggleClass('material-search-overlay-visible');
        $('.material-search-form').toggleClass('material-search-form-hidden').toggleClass('material-search-form-visible');
    });

    $(document).ready(function () {
        $('select').material_select();
    });
</script>

<script>
    $(document).ready(function(){
        $('.collapsible-body').css('display', 'block');
        $.each($('ul.tabs'), function(index, value) {
            var liId = $($(value).find('li:first-child a')[0]).attr('href').substr(1);
            $(value).tabs('select_tab', liId);
        });
        $('.collapsible-body').css('display', 'none');
        $(document).on('click', '.collapsible-header', function() {
            var $expandIcon = $(this).find('.expand-icon');
            if($expandIcon.text() == 'expand_more') {
                $expandIcon.text('expand_less');
            } else {
                $expandIcon.text('expand_more');
            }
        });
        $('.vacancy-link').click(function(e) {
            e.stopPropagation();
        });
    });
</script>
{% block additional_scripts %}{% endblock %}

</body>
</html>