{% extends "base.html" %}

{% block main %}
    <div class="row">
        <div class="col s12">
            <nav class="light-green darken-1">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!" class="breadcrumb">Главная</a>
                        <a href="#!" class="breadcrumb">Вакансии</a>
                        <a href="#!" class="breadcrumb">Associate Sales Representative (Full Time) Russia</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="section light-green">
        <div class="container vacancy-name">
            <div class="row">
                <div class="col s10 valign-wrapper">
                    <h5 class="white-text valign">
                        Associate Sales Representative (Full Time) Russia
                    </h5>
                </div>
                <div class="col s2">
                    <img src="/uploads/cisco-systems.png" class="circle right"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <div class="card-panel white">
          <span class="black-text">
              <pre>
                  Job Description

Additional Location(s) or Information: Start Date: August 1, 2016 Training Location: Amsterdam, Netherlands Location after training: Moscow, Russia
Job Category: Sales
Level of Experience: Entry Level
Requisition #: S1001002
Job Description:

Start Date: August 1, 2016
Training Location: Amsterdam, Netherlands
Location after training: Moscow, Russia

Why you will love Cisco:

Everything is converging on the Internet, making networked connections more relevant than ever before in our lives. Our employees' revolutionary ideas impact everything imaginable - from entertainment, retail, healthcare, and education, to public and private sectors, smart cities, smart cars, and everyday devices in our homes. Here, that means you’ll take creative ideas from the drawing board to powerful solutions that have real world impact. You’ll interface with Cisco leaders, partner with experienced mentors, and develop incredible relationships with colleagues who share your interest in connecting the unconnected. You’ll be part a team that cares about its customers, enjoys having fun, and you’ll take part in changing the lives of those in our local communities. Come prepared to be inspired.

Team Description:

Participate in a world-class training program. Gain valuable skills with global qualifications. Join the team that’s been recognized as one of the industry-leading early-in-career development program for top university graduates from around the world! A successful Associate Sales Representative (ASR) will be trained to discover, build, and drive new opportunities with our Cisco partners and collaborate with Cisco engineers to provide technical solutions. Learn from Cisco experts in a unique setting among your peers. The Cisco Sales Associates Program offers a global environment that provides 12 months of on-the-job training that will prepare you for a successful sales career at Cisco. Gain hands-on education and experience with leading-edge technology, while receiving an attractive salary and accelerating your career aspirations.

What you will do:

For the first three months of the program, you’ll undergo courses focusing on the latest technology advancements and how to effectively sell them to customers. Over the following nine months, you’ll move into a quota-carrying sales role in the Global Virtual Sales organization, where you’ll be mentored directly by Cisco sales professionals. Upon graduation from the Cisco Sales Associates Program, you’ll be promoted into a Virtual Sales Account Manager role at Cisco where you will work within the Global Virtual Sales organization for one year to continue to grow your career.
The Global Virtual Sales organization is focused on growing Cisco's midmarket share, driving sales productivity breakthrough and creating compelling business value for our partners. We do this through innovative made-for-midmarket solutions, sales enablement and go-to-market initiatives. These are driven globally by our virtual sales and engineering teams and in partnership with regional field sales, distribution and marketing teams.

What you need to be eligible:

● Recent graduate or on your final year of studies toward a bachelor’s (BS/BA/etc.) or master’s degree in Business, Sales, Marketing, Communications, Information Technology, Computer Science or Finance
● Strong academic background
● Fluent in English (written and verbal)
● Sales experience required (including retail sales, corporate internships, or entrepreneurial programs)
● Must be willing to go back to your country of application after the training
● Must be able to legally live and work in Russia, without visa support or sponsorship (student visas or visas obtained on your own are not applicable for the program)

About Cisco:

The Internet of Everything is a phenomenon driving new opportunities for Cisco and it's transforming our customers' businesses worldwide. We are pioneers and have been since the early days of connectivity. Today, we are building teams that are expanding our technology solutions in the mobile, cloud, security, IT, and big data spaces, including software and consulting services. As Cisco delivers the network that powers the Internet, we are connecting the unconnected. Imagine creating unprecedented disruption. Collaborate with like-minded innovators in a fun and flexible culture that has earned Cisco global recognition as a Great Place To Work. With roughly 10 billion connected things in the world now and over 50 billion estimated in the future, your career has exponential possibilities at Cisco.

Are you ready to change the World?

Make your mark on the businesses of the future and apply now at: jobs.cisco.com
Find out more about graduate programmes at Cisco : jobs.cisco.com.
Visit and join the Cisco Sales Associates Program page https://www.facebook.com/CSAPINFO
Job Type: New Graduate
Opportunity Category: *None
              </pre>
          </span>
        </div>
      </div>
    </div>

{% endblock %}